In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("data/TXF1-Tick-Trade.txt")
print(df.shape)
df.head()

(1529491, 5)

  Symbol        Date      Time    Price  Volume
0   TXF1  2022/11/28  08:45:00  14550.0     561
1   TXF1  2022/11/28  08:45:00  14551.0       1
2   TXF1  2022/11/28  08:45:00  14553.0       1
3   TXF1  2022/11/28  08:45:00  14554.0       1
4   TXF1  2022/11/28  08:45:00  14555.0       3

In [3]:
df["date"] = df["Date"] + " " + df["Time"]
df["date"] = pd.to_datetime(df["date"])

In [4]:
df["Time"] = df["Time"].str.replace(":", "").astype(int)
df["Day_night"] = df.eval("(Time >= 84500) & (Time <= 134500)")
df = df[df["Day_night"]]
print(df.shape)
df.head()

(904297, 7)

  Symbol        Date   Time    Price  Volume                date  Day_night
0   TXF1  2022/11/28  84500  14550.0     561 2022-11-28 08:45:00       True
1   TXF1  2022/11/28  84500  14551.0       1 2022-11-28 08:45:00       True
2   TXF1  2022/11/28  84500  14553.0       1 2022-11-28 08:45:00       True
3   TXF1  2022/11/28  84500  14554.0       1 2022-11-28 08:45:00       True
4   TXF1  2022/11/28  84500  14555.0       3 2022-11-28 08:45:00       True

In [5]:
df = df.groupby("date").agg({"Price": ["first", "max", "min", "last"], "Volume": "sum"})
df.columns = ["open", "high", "low", "close", "volume"]
df = df.reset_index()
df

                      date     open     high      low    close  volume
0      2022-11-28 08:45:00  14550.0  14568.0  14533.0  14533.0    1208
1      2022-11-28 08:45:01  14537.0  14541.0  14533.0  14535.0     237
2      2022-11-28 08:45:02  14538.0  14542.0  14535.0  14540.0     129
3      2022-11-28 08:45:03  14539.0  14549.0  14539.0  14545.0      98
4      2022-11-28 08:45:04  14547.0  14548.0  14543.0  14543.0      94
...                    ...      ...      ...      ...      ...     ...
262480 2022-12-29 09:20:02  13981.0  13985.0  13981.0  13984.0      22
262481 2022-12-29 09:20:03  13985.0  13986.0  13984.0  13984.0      11
262482 2022-12-29 09:20:04  13986.0  13986.0  13986.0  13986.0       3
262483 2022-12-29 09:20:05  13986.0  13987.0  13986.0  13987.0       4
262484 2022-12-29 09:20:06  13987.0  13989.0  13987.0  13988.0      16

[262485 rows x 6 columns]

df.to_excel("data/TICKS_day_min.xlsx", index = False)

In [6]:
df["vol_100"] = (df["volume"] > 100).astype(int)
print(df.shape)
df.head()

(262485, 7)

                 date     open     high      low    close  volume  vol_100
0 2022-11-28 08:45:00  14550.0  14568.0  14533.0  14533.0    1208        1
1 2022-11-28 08:45:01  14537.0  14541.0  14533.0  14535.0     237        1
2 2022-11-28 08:45:02  14538.0  14542.0  14535.0  14540.0     129        1
3 2022-11-28 08:45:03  14539.0  14549.0  14539.0  14545.0      98        0
4 2022-11-28 08:45:04  14547.0  14548.0  14543.0  14543.0      94        0

In [ ]:
period = 10
for i in range(len(df)):
    if df.loc[i, "vol_100"] == 1:

In [ ]:
i = 1
df.loc[i, "high"]