In [1]:
import pandas as pd
import stock_data as stock

In [2]:
def calculate_return(df):
    # 標的分組計算後合併
    g = df.groupby("Symbol")
    df2 = pd.DataFrame()
    for symbol in g.size().keys():
        df1 = g.get_group(symbol).copy()
        df1["Close_last"] = df1["Close"].shift(1)
        df1["Volume_last"] = df1["Volume"].shift(1)
        df1["Close_return"] = df1.eval("((Close - Close_last) / Close_last) * 100").round(2)
        df1["Volume_return"] = df1.eval("Volume / Volume_last")
        df1 = df1.dropna()
        df2 = pd.concat([df2, df1], ignore_index = True)
        
    df2 = df2[["Symbol", "Date", "Close", "Close_return", "Volume", "Volume_return"]]
    df2 = df2.sort_values(["Symbol", "Date"])
    
    return df2

In [3]:
start = "2021-01-01"
end = "2021-12-31"
mode = "all"

scrapy = stock.scrapy()
df0 = scrapy.get_price(start, end, mode)

------------------------------ Get ticker. ------------------------------
------------------------------ Get price. ------------------------------
[*********************100%***********************]  1766 of 1766 completed

8 Failed downloads:
- 6719.TW: Data doesn't exist for startDate = 1609430400, endDate = 1640880000
- 6834.TW: No data found for this date range, symbol may be delisted
- 6807.TW: Data doesn't exist for startDate = 1609430400, endDate = 1640880000
- 3592.TW: Data doesn't exist for startDate = 1609430400, endDate = 1640880000
- 1752.TW: Data doesn't exist for startDate = 1609430400, endDate = 1640880000
- 2025.TW: No data found for this date range, symbol may be delisted
- 5244.TW: Data doesn't exist for startDate = 1609430400, endDate = 1640880000
- 3715.TW: Data doesn't exist for startDate = 1609430400, endDate = 1640880000
------------------------------ Clean data. ------------------------------

In [4]:
df = calculate_return(df0)
df

          Symbol       Date  Close  Close_return      Volume  Volume_return
0        1101.TW 2021-01-05  39.18         -0.25  18260276.0       1.211267
1        1101.TW 2021-01-06  39.05         -0.33  20861414.0       1.142448
2        1101.TW 2021-01-07  38.96         -0.23  23122150.0       1.108369
3        1101.TW 2021-01-08  39.05          0.23  19107116.0       0.826356
4        1101.TW 2021-01-11  39.18          0.33  14192443.0       0.742783
...          ...        ...    ...           ...         ...            ...
421936  9962.TWO 2021-12-24  18.15         -1.89   1251000.0       1.293692
421937  9962.TWO 2021-12-27  18.20          0.28    884000.0       0.706635
421938  9962.TWO 2021-12-28  18.10         -0.55    531000.0       0.600679
421939  9962.TWO 2021-12-29  18.45          1.93    713000.0       1.342750
421940  9962.TWO 2021-12-30  17.85         -3.25   1446000.0       2.028050

[421941 rows x 6 columns]

In [5]:
df.to_csv("data/2021_volume.csv", index = False)